In [14]:
import pandas as pd
import numpy as ny

In [15]:
filepath = 'laptops.csv'
df = pd.read_csv(filepath)

In [16]:
df

                                                 title   price
0    HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...  39,990
1    Dell Vostro 3420 Laptop,12th Gen Intel Core i3...  41,990
2    Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...  44,490
3    HP 255 G8 Laptop with AMD Athlon Silver 3050U ...  26,999
4    Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...  33,639
..                                                 ...     ...
402  Samsung original 8GB 1 x 8GB 204-pin SODIMM DD...   1,800
403  Bennett Nylon Drax Laptops, Tablets Laptop Bag...     464
404  Bennett Nylon Drax Laptop Bag Sleeve Case Cove...     299
405  AmazonBasics Laptop Sleeve Case Cover Pouch fo...     409
406  HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM...  37,490

[407 rows x 2 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   407 non-null    object
 1   price   407 non-null    object
dtypes: object(2)
memory usage: 6.5+ KB

In [18]:
print(df.columns.tolist())

['title', 'price']

In [19]:
def clean_price_column(price):
    if isinstance(price, str):         #check if price variable is a string
        price = price.replace(',', '') #remove comma
        price = price.strip()          # REMOVE WHITESPACE
        if price.isnumeric():
            price = int(price)
            return price
        if len(price) == 0:
            return np.nan
    return price

In [20]:
clean_price_column('68500')

68500

In [21]:
df['cleaned_price'] = df['price'].apply(clean_price_column)

In [22]:
df

                                                 title   price  cleaned_price
0    HP 15s, AMD Ryzen 3 5300U, 15.6 inch(39.6cm) F...  39,990          39990
1    Dell Vostro 3420 Laptop,12th Gen Intel Core i3...  41,990          41990
2    Honor MagicBook 14, AMD Ryzen 5 5500U 14-inch ...  44,490          44490
3    HP 255 G8 Laptop with AMD Athlon Silver 3050U ...  26,999          26999
4    Lenovo IdeaPad Slim 3 Intel Core i3-1115G4 11t...  33,639          33639
..                                                 ...     ...            ...
402  Samsung original 8GB 1 x 8GB 204-pin SODIMM DD...   1,800           1800
403  Bennett Nylon Drax Laptops, Tablets Laptop Bag...     464            464
404  Bennett Nylon Drax Laptop Bag Sleeve Case Cove...     299            299
405  AmazonBasics Laptop Sleeve Case Cover Pouch fo...     409            409
406  HP 14s, 11th Gen Intel Core i3-1115G4, 8GB RAM...  37,490          37490

[407 rows x 3 columns]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          407 non-null    object
 1   price          407 non-null    object
 2   cleaned_price  407 non-null    int64
dtypes: int64(1), object(2)
memory usage: 9.7+ KB

In [25]:
df.sort_values(by='cleaned_price', ascending=False, inplace=True)
df

,title,price,cleaned_price
255,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,49,900",349900
191,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,49,900",349900
342,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,49,900",349900
127,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,49,900",349900
31,Apple 2023 MacBook Pro Laptop M2 Max chip with...,"3,49,900",349900
...,...,...,...
140,Bennett Nylon Drax Laptop Bag Sleeve Case Cove...,299,299
323,Bennett Nylon Drax Laptop Bag Sleeve Case Cove...,299,299
76,Bennett Nylon Drax Laptop Bag Sleeve Case Cove...,299,299
268,Bennett Nylon Drax Laptop Bag Sleeve Case Cove...,299,299
44,Bennett Nylon Drax Laptop Bag Sleeve Case Cove...,299,299

In [27]:
df.drop(columns=['price'], inplace=True)