funtion styles based on parameters

1. Required parameters
2. Named
3. Default 
4. Variable Arguments & keyword arguments

In [3]:
def mean(a,b,c,d,e):
    return (a+b+c+d+e)/5

In [4]:
x = mean(11,22,33,44,55)
print(x)

33.0

In [6]:
def mean(a, b, c, d=0, e=0): # d and e are default parameters  
    return (a+b+c+d+e)/5

In [7]:
print(mean(11,22,33))
print(mean(11,22,33,44))

13.2
22.0

In [10]:
x = mean(b=10, a=23, c=54.85) #named parameters
print(x)
y = mean(a=5, b=10, c=10, e=100)
print(y)
z = mean(2,3,5, e=100, d=10)
print(z)

17.57
25.0
24.0

In [11]:
def mean_list(numbers):
    return sum(numbers)/len(numbers)

In [13]:
mean_list([1,2,3,4,5,6,7,8,9,1])

4.6

In [14]:
def meaner(*nums):
    return sum(nums)/len(nums)

In [15]:
meaner(96,84,75,45,45,3,4,34,778,76,45,45)

110.83333333333333

In [19]:
def multiplier(*args):

    total = 1 
    for args in args:
        total *= args
    return total

In [17]:
multiplier(74,8,875,48,4,4)

397824000

In [20]:
def multiplier(*args):

    total = 1 
    for args in args:
        print(f'{total} * {args} = {total*args}')
        total *= args
    return total

In [21]:
multiplier(74,8,875,48,4,4)

1 * 74 = 74
74 * 8 = 592
592 * 875 = 518000
518000 * 48 = 24864000
24864000 * 4 = 99456000
99456000 * 4 = 397824000

397824000

In [27]:
f = lambda x : x*2 + 1
g = lambda x, y : x + y * 3

In [29]:
print(f(10), f(20))
print(g(32,45), g(57,54))

21 41
167 219