In [1]:
a = 15
b = 20

In [2]:
a > 10 and b > a

True

In [4]:
a < 10 or b > 10

True

In [5]:
bool(100)

True

In [6]:
name = input ("enter name :")
bool (name)

True

In [7]:
not a

False

membership operators 'in' and 'not in'

In [8]:
x = [3,56,67,89,23,67,21,278,231,213,6]

In [10]:
10 in x

False

In [11]:
67 in x

True

In [12]:
20 not in x

True

In [13]:
user input 'input(prompt)' => 'String'
type casting -> convert one datatypes to another

SyntaxError: invalid syntax (1079031460.py, line 1)

ser input 'input(prompt)' => 'String'
type casting -> convert one datatypes to another
int() -> convert dara into integer
float() -> convert data into float
str () -> convert data into string
list () -> convert data into list
tuple() -> convert data into list

In [14]:
int (10.1111)

10

In [16]:
int (True)

1

In [17]:
int ('hello')

ValueError: invalid literal for int() with base 10: 'hello'

In [19]:
str (10.10)

'10.1'

back to input function

In [20]:
name = input('enter ur name:')
phone = input('enter ur contract:')
age = int(input('enteer ur age'))

wap to calc Simple Interest

In [1]:
p = int(input('principle amt:'))
r = float(input('rate of interst:'))
t = int(input('time in years:'))
si = p*r*t/100
print(si)

180000.0

wap to calc area and circumference of circle using diameter as input

In [25]:
d = int(input('diamter of cirlce:'))
r = int(d/2)
pie = 3.14
area = pie*r*r
print(area)
circumference  = 2*pie*r
print(circumference)

3419.46
207.24

displaying information to user

In [27]:
y = input('your name:')
x = int(input('how many badges:'))
print(f'{y} got {x} badges')

shruti got 4 badges