In [1]:
age = input("enter your age")
print(age)

22

In [5]:
age = input("enter your age")
age = int(age)
type(age)

int

In [8]:
x = 10
y = -8
x = int(x)
y = int(y)
print(x+y)

2

In [11]:
x = '100'
y = '-90'
print(x+y)

100-90

In [13]:
a = input('your name')
type(a)
b = input('age of tiger')
type(b)

str

In [14]:
x = 5
x = str(5)
type(x)

str

In [17]:
pi = 3.145
p = float(pi)
type(p)

float

In [18]:
num = 0
val = bool(num)
type(val)

bool

In [19]:
qty = 10
fruit = 'apple'

print('i will purchase', qty,fruit,'today')

i will purchase 10 apple today

In [23]:
name = 'digipodium'
type_of_company = 'Educational'

print(f'{name} is an {type_of_company} company.')

digipodium is an Educational company.

# conditional sentences

In [3]:
print("you see a apple seller")
q = input('Do you like apples')
if q == "yes" :
    print ("purchase 2kg of apples")
if q == "no" :
    print("you dont purchase apples")

you see a apple seller
you dont purchase apples

In [ ]:
x = 10
if x > 5:
    print('x is greater than 5')
    print('this is the info we needed')
    print('with this ')

In [4]:
a = 47
b = 2
print(int(a+b))

49

In [7]:
print(int(a%b))

1

In [12]:
a = 4
b = 65.84
c = True
d = "shruti"
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [26]:
a = 57
b = 39
c = 658.79
d = 649.6
print(a > b)
print(b==a)
print(c!=d)
print((a+b)/2)

True
False
True
48.0

In [34]:
s1 = 'Shruti Nigam'
s2 = 'Harshita Verma'
s3 = 'Good Morning,'
print(s3+ s1)
len(s2)
print(s1[2])
print(s1[2:9])
print(s3[-4:2])

Good Morning,Shruti Nigam
r
ruti Ni

In [35]:
greetings = ('simultaneouslyness')
print(greetings[3::6])

uoe

In [39]:
name = 'Juhi'
greet = 'Good Evening,'
print(greet + name)

Good Evening,Juhi

In [8]:
letter = '''Dear <|NAME|>,
You are selected


Date: <|DATE|>
'''
name = input("Enter your name \n")
date = input("Enter date \n")
letter = letter.replace("<|NAME|>, name")
letter = letter.replace("<|DATE|> date")
print(letter)

TypeError: replace expected at least 2 arguments, got 1

In [11]:
st = "This is a string with double  spaces"

ds = st.find("  ")
print(ds)

28

In [12]:
st = "This is a string with double spaces"

ds = st.find("  ")
print(ds)

-1

In [13]:
st = "This is a string with double  spaces"

ds = st.replace("  ", " ")
print(ds)

This is a string with double spaces

In [22]:
materials = ['sedimentary', 'igneous', 'metamorphic', 'granite', 'marble', 'sandstone', 'cement', 'concrete', 'bricks']
len(materials)
materials[1] = 'tiles'
print(materials)

['sedimentary', 'tiles', 'metamorphic', 'granite', 'marble', 'sandstone', 'cement', 'concrete', 'bricks']

In [27]:
t = (3,4,6,7,46,95,94,668)
print(t.index(4)) #
print(t.count(7)) #

1
1

In [5]:
t = (3,4,6,7,46,95,94,668)
t[5] =75

TypeError: 'tuple' object does not support item assignment

In [6]:
f1 = input("Enter Fruit Number 1")
f2 = input("Enter Fruit Number 2")
f3 = input("Enter Fruit Number 3")
f4 = input("Enter Fruit Number 4")
f5 = input("Enter Fruit Number 5")
f6 = input("Enter Fruit Number 6")
f7 = input("Enter Fruit Number 7")
myfruitlist = [f1, f2, f3, f4, f5, f6, f7]
print(myfruitlist)

['apple', 'mango', 'orange', 'grapes', 'pineapple', 'cucumber', 'pear']

In [7]:
a = [4, 45, 45, 45]
print(a[0] + a[1] + a[2] + a[3])
print(sum(a))

139
139

In [13]:
a = ['7', '0', '8', '0', '0', '9']
print(a.count(0))

0